*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 30px;}


h1{font-size: 40px;
}
.q{float: left;
width: 350px;}
.w{float: left;
width:300px;}
.m{padding-right: 255px;}
.e{float: left;
width: 300px;}
